cellpose==4.1.1
fastremap==1.19.0
filelock==3.29.0
fill_voids==2.1.1
fsspec==2026.3.0
imagecodecs==2026.3.6
Jinja2==3.1.6
MarkupSafe==3.0.3
mpmath==1.3.0
natsort==8.4.0
networkx==3.6.1
numpy==2.4.4
opencv-python-headless==4.13.0.92
pillow==12.2.0
roifile==2026.2.10
scipy==1.17.1
segment-anything==1.0
setuptools==81.0.0
sympy==1.14.0
tifffile==2026.4.11
torch==2.11.0
torchvision==0.26.0
tqdm==4.67.3
typing_extensions==4.15.0
